<!doctype html>
<html>
	<head>
		<title> Leonid Afremov </title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<h1> Leonid Afremov </h1>

		<img clas="hoofdafb" src="https://afremov.com/_images/Leonid_Afremov_with_his_painting_Venice_Grand_Canal_2009.jpg">

		<nav>
				<a href="/"> << Home </a>
		  <% for (var i = 0; i < categorieen.length; i++) { %>
		    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
		  <% } %>
		</nav>


		<form action="/nieuws_router.js" method="get" role="form">
		  <div class="form-group">
		    <label for="titel">Titel</label>
		    <input type="text" class="form-control" id="titel" name="titel" placeholder="Titel van de boodschap" required>
		  </div>
		  <div class="form-group">
		    <label for="boodschap">Hier komt je boodschap</label>
		    <textarea class="form-control" id="boodschap" name="boodschap" placeholder="De boodschap zelf" rows="3" required></textarea>
		  </div>
		  <div class="form-group">
		    <input type="submit" value="Boodschap plaatsen" class="btn btn-primary">
		  </div>
		</form>
